<nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-offcanvas flex-column flex-md-row bd-navbar">
    <div class="container">
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button-->
        <a href="index.php" class="navbar-brand mr-0 mr-md-2 navbar-absolute-logo">{{i['title']}}</a>
        <div class="navbar-collapse offcanvas-collapse">
            {{ header_menu.html() | raw }}
        </div>
        <ul class="navbar-nav bd-navbar-nav flex-row ml-auto">
            {% if (not in['username']) %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <b>Login</b>
                        <span class="caret"></span></a>
                    <div id="login-dp" class="dropdown-menu">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form" method="post" id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                            <input type="email" name="email" class="form-control" placeholder="Email address" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                                            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
                                        </div>
                                        <div class="form-group">
                                            {% if (i['captcha'] == "1") %}
                                                <img src="inc/captcha.php" style="float:left;"/>
                                                <input placeholder='Captcha' maxlength="4" style="width:170px;padding:9px;color:#272727;" name="captcha" type="text">
                                            {% endif %}
                                            <div class="help-block text-right forgotpass">
                                                <a href="forgotpass.php">Forget the password ?</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" name="login" class="btn btn-pink btn-block" value="Login">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="remember">
                                                    Remember me</input>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </li>
                <li class="nav-item">
                    <a href="signup.php" class="nav-link">REGISTER</a>
                </li>
            {% else %}
                {% if (in_perm['has_admin']) %}
                    <li class="nav-item">
                        <a class="nav-link" href="admin/">Admin panel</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        N{{in['balance']}}
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a href="credit.php" class="dropdown-item">Load Credit</a>
                        <a href="payout.php" class="dropdown-item">Request Payout</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="{{profilepic}}" class="profilepic" width="25px" height="25px">
                        <b>{{in['username']}}</b>
                        <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="profile.php?u={{in['username']}}">My profile</a>
                        <a class="dropdown-item" href="account_settings.php">Account settings</a>
                        <a class="dropdown-item" href="logout.php">Logout</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
