<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle offcanvas-toggle" data-toggle="offcanvas" data-target="#bs-example-navbar-collapse-1" style="float:left;" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.php" class="nodecoration" ><div class="logo">{{i['title']}}</div></a>
    </div>
    <div class="hidden-md hidden-lg navbar navbar-default navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-fade" id="bs-example-navbar-collapse-1">
        {{ header_menu.html() | raw }}
    </div>
    <ul class="nav navbar-nav navbar-right">
        {% if (not in['username']) %}
            <li class="dropdown">
            <a href="#" class="light" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                <ul id="login-dp" class="dropdown-menu">
                    <li>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form" method="post" id="login-nav">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                        <input type="email" name="email" class="form-control" placeholder="Email address" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        {% if (i['captcha'] == "1") %}
                                            <img src="inc/captcha.php" style="float:left;"/>
                                            <input placeholder='Captcha' maxlength="4" style="width:170px;padding:9px;color:#272727;"  name="captcha" type="text">
                                        {% endif %}
                                        <div class="help-block text-right forgotpass"><a href="forgotpass.php">Forget the password ?</a></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" name="login" class="btn btn-pink btn-block" value="Login">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember"> Remember me</input>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li><a href="signup.php">REGISTER</a></li>
        {% else %}
            {% if (in_perm['has_admin']) %}
                        <li class="dark"><a class="dark" href="admin/">Admin panel</a></li>
            {% endif %}
            <li class = "btn-group">   
                <button type = "button" class = "btn btn-default dropdown-toggle" data-toggle = "dropdown">
                    N{{i['balance']}} <span class = "caret"></span>
                </button>                
                <ul class = "dropdown-menu" role = "menu">
                   <li><a href = "credit.php">Load Credit</a></li>
                   <li><a href = "payout.php">Request Payout</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="light" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{profilepic}}" class="profilepic" width="25px" height="25px">
                    <b>{{in['username']}}</b> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a class="white" href="profile.php?u={{in['username']}}">My profile</a></li>
                    <li><a class="white" href="account_settings.php">Account settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="white" href="logout.php">Logout</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>
<div class="bs-example">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li class="active">Accessories</li>
    </ul>
</div>

