{% extends "layout/mail_template.twig" %}

{% block subject  %} {{title}} - Chapgames {% endblock %}

{% block html_content %}
    <h2>Hello {{name}},</h2>

    <p>Your account has been created with the following details:</p>
    <table>
        <tr>
            <td>Log in email:</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td>Display Name: </td>
            <td>{{username}}</td>
        </tr>
    </table>
    <p>Click the link below to verify this email address.</p>

    <a href="{{link}}">VERIFY EMAIL ADDRESS</a>
{% endblock %}


{% block body_text %}
    Hello {{name}}

    Your account has been created with the following details:
    Log in email: {{email}}
    Display Name: {{username}}

    Copy the link below into your browser to verify your email address:
    {{link}}

    Regards
{% endblock %}