{% extends "./layout/layout.twig" %}

{% block content %}
    <div class="row my-5">
        <div class="col">
            <div class="intro mb-5">
                <p class="lead">Have a question or want further information?</p>
                <p>Fill in the short form and we will get back to you as soon as possible.</p>
            </div>
            <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <input class="form-control" id="firstname" placeholder="Enter first name" name="firstname" type="text" value="{{ _post.firstname ? _post.firstname }}" required="required">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <input class="form-control" id="lastname" placeholder="Enter last name" name="lastname" type="text" value="{{ _post.lastname ? _post.lastname }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </div>
                            <input class="form-control" id="email" placeholder="Enter email" name="email" type="text" value="{{ _post.email ? _post.email }}" required="required">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-phone"></i>
                                </div>
                            </div>
                            <input class="form-control" id="phone" placeholder="Phone" name="phone" type="text" value="{{ _post.phone ? _post.phone }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input class="form-control" id="subject" placeholder="Subject" name="subject" type="text" value="{{ _post.subject ? _post.subject }}" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <textarea class="form-control" name="message" id="message" rows="5" style="width:99.9%" placeholder="Enter your message here" required="required">{{ _post.message ? _post.message }}</textarea>
                        </div>
                    </div>
                </div>
               
                    {% if (i['captcha'] == "1") %}
                    <div class="form-group">
                        <img src="inc/captcha.php" style="float:left;"/><input placeholder='Captcha' maxlength="4" style="width:225px" name="captcha" type="text">
                    </div>
                    {% endif %}

                    <input type="submit" name="contact" class='btn btn-primary btn-block"' value="Submit">
                
            </form>
        </div>
    </div>
{% endblock %}