{% extends "./layout/layout_full.twig" %}

{% block content %}
    <div class="row my-3">
        <div class="col-md-8 offset-md-2 text-dark">
            <h2>{{ pagename }}</h2>
            {% if (i['registeration'] == "1") %}
                <form class="form" method="post" class="text-left">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="username" class="sr-only">Username</label>
                                <input type="text" name="username" id="username" class="form-control" placeholder="Username" value="{{ _post.username ? _post.username }}" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="firstname" class="sr-only">First name</label>
                                <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Name" value="{{ _post.firstname ? _post.firstname }}" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email address</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email address" value="{{ _post.email ? _post.email }}" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="phone" class="sr-only">Phone</label>
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Enter your phone number" value="{{ _post.phone ? _post.phone }}" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="password2" class="sr-only">Confirm Password</label>
                                <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="refer" class="sr-only">OPTIONAL: Referred by
                                    <small>Enter username of user that invited you</small>
                                </label>
                                <input type="text" name="refer" id="refer" class="form-control" placeholder="Optional: enter username of user that invited you" value="{{ _post.refer ? _post.refer }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {% if (i['captcha_reg'] == "1") %}
                                    <img src="inc/captcha.php" style="float:left;"/>
                                    <input placeholder='Captcha' style="width:170px;padding:9px;color:#272727;" maxlength="4" name="captcha" type="text">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="tos" name="tos" value="1"/>
                                    <label class="custom-control-label" for="tos">
                                        I agree with the
                                        <a href="page.php?p=tos" target="__blank" required="required">terms and conditions</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="submit" name="register" class="btn btn-primary btn-block" value="Register">
                            </div>
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="alert alert-warning">
                    Registeration is currently closed!
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}