{% extends "./layout/layout.twig" %} {% block content %} {% if (cur_user['id']) %} {% if (in_perm['view_any_profile']== "1"
|| cur_user['viewprofile'] == "1" || cur_user['id'] == in['id']) %}
<div class="row user-menu-container square">
    <div class="col-md-12">
        <div class="row coralbg white">
            <div class="col-md-5 no-pad">
                <div class="user-image">
                    <img src="{{profilepic2}}" class="img-responsive thumbnail" style="margin-top:20px;height:220px">
                </div>
            </div>
            <div class="col-md-6 no-pad text-center">
                <div class="user-pad" style="margin-top:20px">
                    <h2>
                        <span style="{{cur_user_perm['css']}}">{{cur_user['username'] | special}}</span>
                        <h2>
                            <h4 class="white">{{cur_user['gender']}} - {{cur_user_perm['name'] |capitalize}} - {{cur_user['country']}}
                                <br>
                                <Br>
                                <b>Games played:</b> {{cur_user['games_played']}}
                                <Br>
                                <b>Comments on games:</b> {{post_count}}
                                <br>
                                <b>Games rated:</b> {{rating_count}}</h4>
                            <br> {% if (in['id'] && in['username'] != cur_user['username']) %} {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="contentcontainer">
        <div class="">
            <div class="">
                <div class="container-header blue-header">Profile comments</div>
                {{ include('partials/comments.twig') }}
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="padding:10px;">
    <div class="contentcontainer contentbg">
        <div class="container-header blue-header">Favourite games {{favourite_count}}</div>
        <div class="content-container">
            {% for game2 in u2 %}
            <div class="col-xs-3 col-sm-2 col-md-3">
                <a href="game.php?g={{game['url']}}" class="">
                    <img src="{{game['image']}}" style="border:4px solid #292c32;border-radius:3px;height:52px;width:52px;" alt="...">
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="contentcontainer contentbg">
    <div class="container-header blue-header">Most played games</div>
    <div class="content-container">
        {% for game in u2 %}
        <div class="col-xs-3 col-sm-2 col-md-3">
            <a href="game.php?g={{game['url']}}" class="">
                <img src="{{game['image']}}" style="border:4px solid #292c32;border-radius:3px;height:52px;width:52px;" alt="...">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
</div>
</div>
</div>
{% endif %} {% else %}
<div class="col-md-12" style="padding:10px;">
    <div class="contentcontainer">
        <div class="title-pink">ERROR: User has hidden their profile </div>
        The current profile you are trying to access is hidden!
        <br>
        <Br>
        <B>If you do not believe this error is correct, please report this to a site administrator, or try again!</b>
    </div>
    {% endif %} {% endblock %}