{% extends "./layout/layout_full.twig" %}

{% block content %} 
    <div class="row my-5">   
        <div class="col-md-8 offset-md-2">
            <h2>{{ pagename }}</h2>
            {% if (i['registeration'] == "1") %}
                <form class="form" method="post">
                    <div class="row">
                        <div class="col form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username" class="form-control" placeholder="Username" value="{{ _post.username ? _post.username }}" required>
                        </div>
                        <div class="col form-group">
                                <label for="firstname">First name</label>
                                <input type="text" name="firstname" id="firstname" class="form-control" placeholder="First name" value="{{ _post.firstname ? _post.firstname }}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                                <label  for="email">Email address</label>
                                <input type="email" name="email" id="email"  class="form-control" placeholder="Email address" value="{{ _post.email ? _post.email }}" required>
                        </div>
                        <div class="col form-group">
                                <label for="refer">OPTIONAL: Referred by <small>Enter username of user that invited you</small></label>
                                <input type="text" name="refer" id="refer" class="form-control" placeholder="" value="{{ _post.refer ? _post.refer }}">                                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>                                            
                        </div>
                        <div class="col form-group">
                                <label for="password2">Confirm Password</label>
                                <input type="password" name="password2" name="password2" class="form-control" placeholder="Password" required>                                            
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col form-group">
                            {% if (i['captcha_reg'] == "1") %}
                                <img src="inc/captcha.php" style="float:left;"/>
                                <input placeholder='Captcha' style="width:170px;padding:9px;color:#272727;" maxlength="4" name="captcha" type="text">
                            {% endif %}
                        </div>
                    </div>
                        <div class="form-group">
                            <input type="submit" name="register" class="btn btn-primary btn-block" value="Register">                                        
                        </div>
                </form> 
            {% else %}
                <div class="alert alert-warning">
                    Registeration is currently closed!
                </div>
            {% endif %}
        </div>
    </div>	
{% endblock %}