<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="apple-touch-icon" sizes="76x76" href="files/images/apple-icon.png">
        <link rel="icon" type="image/png" href="files/images/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{pagename}}</title>
        <base href="{{i['url']}}/">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
        <!-- Fonts and icons -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <!-- CSS Files -->
        <!--link href="files/css/bootstrap.min.css" rel="stylesheet"/-->
        <link href="files/css/now-ui-kit.css" rel="stylesheet"/>
    </head>

    <body class="{{pagename}} sidebar-collapse menu-on-left" id="page">
        {{ include('partials/top_bar.twig') }}
        {{ include('partials/breadcrumbs.twig') }}
        <div class="wrapper">
            <div class="section">
                <div class="container">
                    {% if (pagename == 'Profile') %}
                        {{ include('partials/modal.twig')}}
                    {% endif %}
                    <div class="row">
                        <div class="d-none d-lg-block col-lg-2" style="padding:10px;padding-top:0px;">
                            {{ include('partials/left_sidebar.twig') }}
                        </div>
                        <div class="col-md-8 col-lg-8">
                            {% if (error) %}
                                {{ include('partials/alert_error.twig')}}
                            {% endif %}
                            {% if (success) %}
                                {{ include('partials/alert_success.twig')}}
                            {% endif %}
                            <div class="container">
                                <div class="row my-3">                                
                                    <div class="col-md-6"><h2>{{ pagename }}</h2></div>
                                    <div class="col-md-6">{{ include('partials/page_header.twig') }}</div>
                                </div>
                                <div class="content-wrapper">
                                    {% block content %}{% endblock %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-2" style="padding:10px;padding-top:0px;">
                            {{ include('partials/right_sidebar.twig') }}
                        </div>
                    </div>
                </div>
            </div>
            {{ include('partials/footer.twig') }}
    </body>
</html>